<Router AppAssembly="@typeof(OnionGolmehr.UI.Shared.Pages.Home).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(OnionGolmehr.UI.Shared.Layouts.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(OnionGolmehr.UI.Shared.Layouts.MainLayout)">
            <p>Sorry, the page you're looking for doesn't exist. <NavLink href="/">Go back home</NavLink>.</p>
        </LayoutView>
    </NotFound>
</Router>
